/* General styling */
body {
    font-family: 'Inter', sans-serif;
    background-color: #DEE1E3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
}

/* Main title styling */
.main-title {
    width: 1440px;
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 96px;
    font-weight: 700;
    margin-top: 10px; 
}

/* Subheading with drop shadow */
.subheading {
    width: 1440px;
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-weight: 700;
}

/* Paragraph without drop shadow */
.paragraph {
    width: 1398px;  
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
}

/* Footer - Home Button */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px 0;
}

.home-btn-text {
    display: inline-block;
    padding: 24px 105px;
    background-color: #0B4F80;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    border-radius: 34px;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    user-select: none;  /* Makes sure the text doesn't get highlighted upon clicking */
}